name: Lint

on:
  push:
    branches:
      - main
  pull_request:

#
# Cancel outdated runs for the same branch / PR
#
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  go:
    name: Go - lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set-up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --verbose
          version-file: .tool-versions
          install-mode: "binary"
